@use '../utils/' as u;

.container {
    @include u.box-shadow;
    background-color: u.$clr-neutral-500;
    padding: 1.5rem 1.5rem;
    border-radius: 5%;
    max-width: 45ch;
    line-height: 1.4rem;
    @media (min-width: 50em) {
        max-width: 50ch;
        padding: 2rem 2rem 1.5rem 2rem;
        line-height: 1.5rem;
    }
}