//colors
$clr-primary-500: hsl(25, 97%, 53%);

$clr-neutral-900: hsl(216, 12%, 8%);
$clr-neutral-500: hsl(213, 20%, 18%);
$clr-neutral-300: hsl(216, 12%, 54%);
$clr-neutral-200: hsl(217, 12%, 63%);
$clr-neutral-100: hsl(0, 0%, 100%);

//font family
$ff-primary: 'Overpass', sans-serif;

//font-weight
$fw-700: 700;
$fw-400: 400;

//font-size
$fs-secondary: 15px;
